{:paths   ["src"]
 :deps    {}
 :aliases {:clj-kondo {:replace-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
                       :main-opts ["-m" "clj-kondo.main" "--parallel" "--lint" "src" "test"]}
           :eastwood  {:replace-deps {jonase/eastwood {:mvn/version "1.3.0"}}
                       :main-opts ["-m" "eastwood.lint" {}]}
           :test {:extra-paths ["test"]
                  :extra-deps  {org.clojure/clojure {:mvn/version "1.11.1"}
                                org.clojure/test.check      {:mvn/version "1.1.1"}
                                eftest/eftest               {:mvn/version "0.6.0"}
                                pjstadig/humane-test-output {:mvn/version "0.11.0"}
                                expectations/clojure-test   {:mvn/version "1.2.1"}}
                  :exec-fn clojure-template.runner/-main
                  :exec-args {}}
           :coverage {:extra-paths ["test"]
                      :extra-deps  {org.clojure/clojure {:mvn/version "1.11.1"}
                                    org.clojure/test.check      {:mvn/version "1.1.1"}
                                    eftest/eftest               {:mvn/version "0.6.0"}
                                    pjstadig/humane-test-output {:mvn/version "0.11.0"}
                                    expectations/clojure-test   {:mvn/version "1.2.1"}
                                    cloverage/cloverage         {:mvn/version "1.2.4"}}
                      :exec-fn     cloverage.coverage/run-project
                      :exec-args   {:test-ns-path ["test"]
                                    :src-ns-path  ["src"]
                                    :lcov?        true
                                    :runner       :eftest
                                    :runner-opts  {:fail-fast? false}}}
           :codecov {:extra-paths ["test"]
                     :extra-deps  {org.clojure/clojure {:mvn/version "1.11.1"}
                                   org.clojure/test.check      {:mvn/version "1.1.1"}
                                   eftest/eftest               {:mvn/version "0.6.0"}
                                   pjstadig/humane-test-output {:mvn/version "0.11.0"}
                                   expectations/clojure-test   {:mvn/version "1.2.1"}
                                   cloverage/cloverage         {:mvn/version "1.2.4"}}
                     :exec-fn     cloverage.coverage/run-project
                     :exec-args   {:test-ns-path ["test"]
                                   :src-ns-path  ["src"]
                                   :codecov?     true
                                   :runner       :eftest
                                   :runner-opts  {:fail-fast? false}}}}}
